:root {
    --yellow: #f7ca3e;
}
* {
    font-family: 'Segoe Ui','Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
h1, h3 {
    font-family: 'Oswald', sans-serif;
}
*::selection {
    background: var(--yellow);
    color: #fff;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    /*height: 200rem;*/
}
html::-webkit-scrollbar {
    width: 1.3rem;
}
html::-webkit-scrollbar-track {
    background: #333;
}
html::-webkit-scrollbar-thumb {
    background: var(--yellow);
}
section {
    min-height: 100vh;
    padding: 1rem 10%;
    padding-top: 8.5rem;
}
.btn {
    font-size: 1.7rem;
    padding: .7rem 4rem;
    border-radius: 5rem;
    margin-top: 1rem;
    background: none;
    color: #333;
    cursor: pointer;
    border: .2rem solid var(--yellow);
}
.btn:hover {
    background: var(--yellow);
}
.heading {
    text-align: center;
    font-size: 3.5rem;
    padding: 0 .5rem;
    margin-bottom: 1rem;
    color: #333;
}
/* header */
header {
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 1000;
    width: 100%;
    background: #fff;
    padding: 1.0rem 10%;
    box-shadow: 0 .3rem 2rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo img {
    height: 6rem;
}
header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
header .navbar ul li {
    margin-left: 3rem;
}
header .navbar ul li a {
    font-size: 1.7rem;
    color: #666;
}
header .navbar ul li a:hover,
header .navbar ul li a.active {
    color: var(--yellow);
}
header #menu-bar {
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    display: none;
}
/* home */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    overflow: hidden;
}/*
.home::before,
.home::after {
    content: '';
    position: absolute;
    top: 24rem;
    left: -6rem;
    background: var(--yellow);
    opacity: .5;
    border-radius: 2rem;
    transform: rotate(0deg);
    height: 8rem;
    width: 100rem;
    z-index: -2;
    animation: animte 1s linear 1;
}
@keyframes animte {
    0% {
        transform: rotate(-45deg) translateY(-40rem);
    }
}*/
.home .image {
    flex: 1 1 39rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .image img {
    width: 80%;
}
.home .content {
    flex: 1 1 39rem;
    padding: 0 6rem;
}
.home .content h3 {
    color: #333;
    font-size: 4.5rem;
    padding: 1rem 0;
}
.home .content p {
    color: #333;
    font-size: 1.7rem;
    padding: 1rem 0;
}
/* about */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.about .image {
    flex: 1 1 40rem;
    height: 50rem;
    background: url(./images/side-portrait-serious-black-woman-against-white-background_33839-10148.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
}
.about .content {
    flex: 1 1 40rem;
    padding: 2rem;
}
.about .content h3 {
    font-size: 4rem;
    color: #333;
}
.about .content p {
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
}
/* menu */
.menu .list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0.5rem 0;
    margin: 1.2rem 0;
}
.menu .list .btn {
    margin: 1rem;
    font-size: 1.3rem;
    padding: .6rem 3rem;
}
.menu .list .btn.active,
.menu .list .btn:hover {
    background: var(--yellow);
    color: #fff;
}
.menu .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.menu .row .image {
    margin: 2rem;
    padding: 2rem;
    flex: 1 1 40rem;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}
.menu .row .image img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.menu .row .content {
    flex: 1 1 40rem;
}
.menu .row .content .info {
    padding: .5rem 0;
}
.menu .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: #333;
}
.menu .row .content .info h3 span {
    padding-right: 1rem;
    color: var(--yellow);
}
.menu .row .content .info p {
    padding: .5rem 0;
    padding-left: 4.5rem;
    font-size: 1.5rem;
    color: #666;
}
/* popular */ 
.popular {
    background: linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7)),
    url(./asia_kuche.png) no-repeat;
}
.popular .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.popular .box-container .box {
    background: #fff;
    width: 35rem;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.2);
    text-align: center;
}
.popular .box-container .box img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}
.popular .box-container .box h3 {
    color: #333;
    font-size: 2.5rem;
    font-weight: normal;
}
.popular .box-container .box .stars i {
    color: var(--yellow);
    font-size: 1.5rem;
    padding: 1rem .1rem;
}
.popular .box-container .box .price {
    color: #666;
    font-size: 2rem;
}
.popular .box-container .box:hover {
    transform: scale(1.02);
    box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
}
/* gallery */
.gallery .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery .box-container .box {
    height: 18rem;
    width: 30rem;
    margin: 2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.2);
}
.gallery .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .7rem;
}
.gallery .box-container .box h3 {
    position: absolute;
    top:100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 3rem;
    opacity: 0;
}
.gallery .box-container .box:hover h3 {
    top: 50%;
    opacity: 1;
    transition-delay: .2s;
}
.gallery .box-container .box::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
    transition: .2s linear;
}
.gallery .box-container .box:hover::before {
    top:0
}
.order {
    background: #a0b771;
    background-size: cover;
    background-position: center;
}
.order span {
    color: #fff;
}
.order .row {
    width: 100%;
    height: 70vh;
    display: flex;
    background: #fff;
    margin: 2rem 0;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: .85rem;
}
.order .row .image {
    flex: 1 1 40%;
}
.order .row .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.order .row form {
    flex: 1 1 60%;
    background: #fff;
    padding: 2rem;
}
.order .row form .box {
    padding: 1rem;
    margin: .5rem 0;
    font-size: 1.5rem;
    color: #333;
    text-transform: none;
    background: #f0f0f0;
    width: 100%;
}
.order .row form .box::placeholder {
    text-transform: capitalize;
}
.order .row form .address {
    resize: none;
    height: 15rem;
}
.footer {
    background: #282727;
    padding: 1rem 7%;
}
.footer .box-container {
    display: flex;
    flex-wrap: wrap;
}
.footer .box-container .box {
    flex: 1 1 25rem;
    margin: 2rem;
}
.footer .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
    font-weight: normal;
}
.footer .box-container .box p {
    font-size: 1.4rem;
    color: #eee;
    padding: 1rem 0;
}
.footer .box-container .box a {
    font-size: 1.4rem;
    color: #eee;
    padding: 1rem 0;
    display: block;
}
.footer .box-container .box a:hover {
    color: var(--yellow);
}
.footer .box-container .box p i {
    padding-right: 1rem;
    color: var(--yellow);
}
.footer .credit {
    font-size: 1.5rem;
    text-align: center;
    border-top: .1rem solid rgba(255,255,255,.7);
    padding: 2rem 1rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color: #fff;
}
.footer .credit a {
    color: var(--yellow);
}


































/* -MEDIA QUERIES- */
@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .home::before,
    .home::after {
        display: none;
    }
}
@media (max-width:768px) {
    html {
        font-size: 55%;
    }
    header #menu-bar {
        display: block;
    }
    header .navbar {
        position: fixed;
        top: 8rem;
        left: 0;
        width: 100%;
        background: var(--yellow);
        border-top: .2rem solid rgba(0,0,0,.1);
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }
    header .navbar ul {
        flex-flow: column;
        padding: 2rem;
    }
    header .navbar ul li {
        margin: 1.5rem;
        width: 100%;
        text-align: center;
    }
    header .navbar ul li a {
        display: block;
        color: #fff;
        font-size: 2rem;
    }
    header .navbar ul li a:hover,
    header .navbar ul li a.active {
        color: #333;
        border-color: #333;
    }
    .fa-times {
        transform: rotate(90deg);
    }
    header .navbar.nav-toggle {
        transform: scaleY(1);
        opacity: 1;
    }
    .home .content {
        text-align: center;
        padding: 2rem 0;
    }
    .home .content h3 {
        font-size: 4.5rem;
    }
    .home img {
        padding-top: 2.5rem;
    }
    .order .row {
        height: 70vh;
    }
    .order .row .image {
        display: none;
    }
}
@media (max-width:500px) {
    html {
        font-size: 50%;
    }
    section {
        padding: 1rem 5%;
        padding-top: 8.5rem;
    }
    .order .row {
        height: 67vh;
    }
    .footer .box-container .box a,
    .footer .box-container .box h3,
    .footer .box-container .box p {
        text-align: center;
    }
}